.page-conteiner{
    width: 1413px
    margin: 0 auto 0 auto
}
.herder{
    height: 275px
}
ul{
    list-style-type: none
}
.trial{
    background: #01996D;
border: 1px solid #01996D;
box-sizing: border-box;
border-radius: 4px;
}